@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F0F8FF; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thankyou-text-color {
  color: #4285f4
}

.payment-unsuccessful-text-color {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

.price-color {
  color: rgb(66, 63, 63)
}

.brightness-filter {
  filter: brightness(60%);
  opacity: 0.9
}



/*--------Images Credit--------*/
.photo-credit {
  font-size: 10px;
  color: black;
}

.photo-credit2 {
  font-size: 10px;
  color: white;
}



/*--------Family Fonts--------*/
.playfairFont {
  font-family: 'Playfair Display', serif;
}

.robotoFont {
  font-family: 'Roboto', sans-serif;
}



/*--------Website background color and border colors--------*/
.ecommerce_background_color {
  background-color: #F0F8FF;
}

.ecommerce_border_color {
  background-color: white;
}

.shopping_cart_border_color {
  background-color: white;
}

.shopping_cart_background_color {
  background-color: #F0F8FF;
}

.selectedProduct_border_color {
  background-color: white;
}

.selectedProduct_background_color {
  background-color: #F0F8FF;
}



/*--------All Buttons Customization--------*/
.add_cart_button {
  background-color: white;
  font-weight: bold;
  color: black;
  border: solid 1px;
  padding: 0.55rem;
}

.add_cart_button:hover {
  background-color: black;
  color: white;
}

.delete-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #DC3545;
  border: solid 1px #DC3545;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #DC3545;
  color: white;
}

.hover-product:hover {
  background-color: white;
  color: darkgrey;
}

.shopnow-button {
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 0.55rem;
  border: white 1px solid;
  margin-top: 20px;
}




/*--------Increment/Decrements customization--------*/
.quantity-count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 28%;
  height: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 0.25rem;
}

.quantity-count button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 50%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-count button:hover {
  background-color: #e1e1e1;
}

.quantity-count .quantity-input {
  flex: 1;
  height: 100%;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #fff;
  width: 1.5rem;
  margin-bottom: 1px;
}

.quantity-count .decrement-btn,
.quantity-count .increment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 0px;
}

.decrement-btn {
  border-radius: 40px 0px 0px 40px;
}

.increment-btn {
  border-radius: 0px 10px 10px 0px;
}

.quantity-count .decrement-btn:hover,
.quantity-count .increment-btn:hover {
  background-color: #e1e1e1;
}

.quantity-count .decrement-btn:focus,
.quantity-count .increment-btn:focus {
  box-shadow: none;
  outline: none;
  transition: box-shadow 0.1s ease;
}

.quantity-count .decrement-btn:focus-within,
.quantity-count .increment-btn:focus-within {
  outline: none;
  transition: box-shadow 0.1s ease;
}

.delivery_charges {
  color: #4285f4;
  font-weight: bold;
}



/*--------@media Queries--------*/
@media only screen and (max-width: 412px),
(max-width: 375px),
(max-width: 360px) {

  .quantity-count .decrement-btn,
  .quantity-count .increment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 0px;
  }

  .quantity-count {
    width: 40%;
    height: 10%;
  }

  .decrement-btn {
    border-radius: 40px 0px 0px 40px;
    margin-top: -1%;
  }

  .increment-btn {
    border-radius: 0px 10px 10px 0px;
  }

  .mobile-responsive-Quantitybutton {
    align-items: center;
  }

  .mobile-responsive {
    display: flex;
    justify-content: space-between;
    padding: 11%;
  }

  .mobile-responsive-cart,
  .mobile-responsive-home {
    margin-top: 6%;
    padding: 10%;
  }

  .mobile-responsive-details {
    padding: 10%;
  }

  .mobile-responsive-credit {
    margin-right: 2%;
  }

  .mobile-responsive-font-ecommerce-title, 
  .mobile-responsive-font-landingpage-title {
    font-size: 18px;
  }

  .mobile-responsive-font-title {
    font-size: 20px;
  }

  .mobile-responsive-font-description,
  .mobile-responsive-button-addCart {
    font-size: 16px;
  }

  .mobile-responsive-font-price {
    font-size: 18px;
  }

  .mobile-responsive-title-margin {
    padding-left: 11%;
  }
}