@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ecommerce_background_color {
  /* background-color: #F5F5FF; */
  background-color: #F0F8FF;
}

.ecommerce_border_color {
  background-color: white;
}

.shopping_cart_background_color {
  /* background-color: #F5F5FF; */
  background-color: #F0F8FF;
}

.shopping_cart_border_color {
  background-color: white;
}

.add_cart_button {
  background-color: black;
  font-weight: bold;
  color: white;
  border-style: solid;
  /* padding: 0.75rem; */
  padding: 0.55rem;
}

.remove_cart_button {
  background-color: #C70000;
  font-weight: bold;
  color: white;
  border-style: solid;
}

.discount_apply_button {
  color: #4285F4;
  border: solid 1px #4285F4;
}

.payment_button {
  background-color: #1597DD;
  color: white;
  font-weight: bold;
  border-style: solid;
  padding: 0.75rem;
}

.promocode_placeholder {
  background-color: white;
  padding: 0.25rem;
  border: solid 1px rgb(229 231 235);
  border-radius: 4px 0px 0px 4px;
}

.promocode_placeholder::placeholder {
  font-size: 12px;
}

.promocode_border_color {
  background-color: white;
}

.price_color {
  color: #0f1111
}

.quantity-count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 40%; */
  width: 28%;
  height: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 0.25rem;
}

.quantity-count button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 50%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-count button:hover {
  background-color: #e1e1e1;
}

.quantity-count .quantity-input {
  flex: 1;
  height: 100%;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #fff;
  width: 1.5rem;
  margin-bottom: 1px;
  /* adjust the width as needed */
}

.quantity-count .decrement-btn,
.quantity-count .increment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 3px;
}

.decrement-btn {
  border-radius: 40px 0px 0px 40px;
}

.increment-btn {
  border-radius: 0px 10px 10px 0px;;
}

.quantity-count .decrement-btn:hover,
.quantity-count .increment-btn:hover {
  background-color: #e1e1e1;
}

.quantity-count .decrement-btn:focus,
.quantity-count .increment-btn:focus {
  box-shadow: none;
  outline: none;
  transition: box-shadow 0.1s ease;
}

.quantity-count .decrement-btn:focus-within,
.quantity-count .increment-btn:focus-within {
  outline: none;
  transition: box-shadow 0.1s ease;
}

@media only screen and (max-width: 375px) {
  .quantity-count {
    width: 27%;
  }
}