@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ecommerce_background_color {
  /* background-color: #F5F5FF; */
  background-color: #F0F8FF;
}

.ecommerce_border_color {
  background-color: white;
}

.shopping_cart_background_color {
  /* background-color: #F5F5FF; */
  background-color: #F0F8FF;
}

.shopping_cart_border_color {
  background-color: white;
}

.add_cart_button {
  background-color: black;
  font-weight: bold;
  color: white;
  border-style: solid;
  padding: 0.75rem;
}

.remove_cart_button {
  background-color: #C70000;
  font-weight: bold;
  color: white;
  border-style: solid;
}

.payment_button {
  background-color: #1597DD;
  color: white;
  font-weight: bold;
  border-style: solid;
  padding: 0.75rem;
}

.promocode_placeholder {
  background-color: white;
  padding: 0.25rem;
  border: solid 1px rgb(229 231 235);
  border-radius: 4px 0px 0px 4px;
}

.promocode_placeholder::placeholder {
  font-size: 12px;
}

.promocode_border_color {
  background-color: white;
}

.price_color {
  color: #0f1111
}

.quantity-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  max-width: 20rem;
  height: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 40px;
  overflow: hidden;
}

.quantity-count button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 50%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-count button:hover {
  background-color: #e1e1e1;
}

.quantity-count .quantity-input {
  flex: 1;
  height: 100%;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  width: 4rem;
  /* adjust the width as needed */
}

.quantity-count .decrement-btn,
.quantity-count .increment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

.decrement-btn {
  border-radius: 40px 0px 0px 40px;
}

.increment-btn {
  border-radius: 0px 10px 10px 0px;
}

.quantity-count .decrement-btn:hover,
.quantity-count .increment-btn:hover {
  background-color: #e1e1e1;
}

.quantity-count .decrement-btn:focus,
.quantity-count .increment-btn:focus {
  box-shadow: none;
  outline: none;
  transition: box-shadow 0.1s ease;
}

.quantity-count .decrement-btn:focus-within,
.quantity-count .increment-btn:focus-within {
  outline: none;
  transition: box-shadow 0.1s ease;
}









.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 40px;
  height: 30px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}